<footer class="mt-5 border-top">
    <div class="container py-5">
        <div class="row d-flex justify-content-between">
            <div class="col-6 col-md">
                <h3 class="mb-0">Coop.</h3>
                <p class="m-0"><small>&copy;2021 TheCoop SL</small></p>
            </div>
            <div class="col-6 col-md">
                <h5>Navegación</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="/voluntariados">Voluntariados</a></li>
                    <li><a class="link-secondary" href="/proyectos">Proyectos</a></li>
                    <li><a class="link-secondary" href="/organizaciones">Organizaciones</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Información</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="/privacidad">Política de privacidad</a></li>
                    <li><a class="link-secondary" href="/condiciones">Condiciones del servicio</a></li>
                    <li><a class="link-secondary" href="/cookies">Uso de cookies</a></li>
                </ul>
            </div>
            <div class="col-6 col-md  justify-content-end">
                <h5 class="mb-2">Redes sociales</h5>
                <a href="#" class="link-secondary"><i class="fab fa-facebook-square me-1"></i> Facebook</a><br>
                <a href="#" class="link-secondary"><i class="fab fa-instagram me-1"></i> Instagram</a><br>
                <a href="#" class="link-secondary"><i class="fab fa-twitter-square me-1"></i> Twitter</a>
            </div>
        </div>
    </div>
</footer>