<nav class="navbar navbar-expand-lg navbar-light bg__light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <b>Rodiles</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        {{#if currentUser}}
        <li><a class="nav-link" href="{{#isOrg currentUser.role}}/org/profile{{else}}/user/profile{{/isOrg}}">Perfil</a>
        </li>
        <li><a class="nav-link" href="/logout">Cerrar sesión</a></li>
        {{else}}
        <li><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginPopup">Iniciar sesión</a></li>
        {{/if}}
        <li>
          <a class="nav-link searchBtn" href="#" data-bs-toggle="modal" data-bs-target="#algoliaSearch">
            Buscar
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>