<form action="/authenticate/google" method="post" class="mb-2">
    <input type="hidden" class="currentPath" name="currPath">
    <button type="submit" class="button btn__light border py-2 w-100"><i class="fab fa-google pr-2"></i>
        Iniciar sesión
        con Google</button>
</form>
<form action="/auth/facebook" method="post" class="mb-2">
    <input type="hidden" class="currentPath" name="currPath">
    <button type="submit" class="button btn__light border py-2 w-100"><i class="fab fa-facebook pr-2"></i>
        Iniciar sesión con Facebook</button>
</form>