<div class="bg__main mb-4">
    <div class="container py-5 text-light">
        <h1>{{categ}}</h2>
            <small>Proyectos y voluntariados</small>
    </div>
</div>
{{#if projects}}
<div class="container my-4">
    <h3>Proyectos</h3>
    <p>Apoya a los proyectos que te importan desde sólo 1€</p>
    <div class="row">
        {{#each projects as |project|}}
        <div class="col-lg-4 mb-3">
            {{> projectCard}}
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

{{#if volunts}}
<div class="container my-4">
    <h3>Voluntariados</h3>
    <p>Asiste a voluntariados de tu zona</p>
    <div class="row">
        {{#each volunts as |volunt|}}
        <div class="col-lg-4 mb-3">
            {{> voluntCard}}
        </div>
        {{/each}}
    </div>
</div>
{{/if}}