<div class="main__hero">
    <div class="container py-5">
        {{#if flashMessage}}
        <div class="alert alert-danger">{{flashMessage}}</div>
        {{/if}}
        <div class="text-center mx-auto my-5" style="max-width: 620px;">
            <h1 class="display-4">Unimos personas y organizaciones</h1>
            <p style="font-size: 1rem;">Coop facilita a las personas el acceso a la contribución social y a
                voluntariados, y
                proporciona un espacio sencillo y seguro para organizaciones sin ánimo de lucro.</p>

            <div class="mt-3"><br>
                <a href="#volunts" class="button btn__light btn-lg px-5 me-2 mb-2">Comenzar</a>
            </div>
        </div>
    </div>
</div>

{{#if volunts}}
<div id="volunts" class="container my-5">
    <div class="text-center my-5">
        <h2>Únete a un voluntariado</h2>
        <p>Asiste a voluntariados de tu zona</p>
    </div>
    <div class="row">
        {{#each volunts as |volunt|}}
        <div class="col-lg-4 mb-3">
            {{> voluntCard volunt}}
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

{{#if projects}}
<div class="container my-5">
    <div class="text-center my-5">
        <h2>Apoya un proyecto</h2>
        <p>Apoya a los proyectos que te importan desde sólo 1€</p>
    </div>
    <div class="row">
        {{#each projects as |project|}}
        <div class="col-lg-4 mb-3">
            {{> projectCard project}}
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

<div class="container my-5">
    <div class="my-5 text-center mx-auto" style="max-width: 700px;">
        <h2 class="mb-2">Categorías</h2>
        <div class="mt-4">
            {{#each categs as |categ|}}
            <a href="/c/{{categ}}" class="button btn-sm btn__light px-3 mb-2">{{categ}}</a>
            {{/each}}
        </div>
    </div>
</div>