<div class="container my-4 text-center pb-4">
    <img src="/images/icons/404.png" style="max-width: 350px;" alt="">
    <h1 class="display-4">Error 404</h1>
    <p style="font-size: 1rem;">No hemos encontrado lo que estabas buscando.<br>Puede ser que el proyecto o voluntariado
        que estabas buscando ya
        no
        se encuentre disponible.<br>
        <a href="/" class="button btn__light btn-lg mt-4">Volver al inicio</a>
    </p>
</div>