<div class="container my-6">
{{!-- Edición perfil: Nombre, foto y visibility --}}
    <h1>Editar perfil</h1>
    <form action="/edit-profile" method="POST" enctype="multipart/form-data">
        <div class="card p-4">
            <div class="row">
                <div class="col-2 gx-5">
                    <img src="{{currentUser.profilePicture}}" class="w-100" alt="profile image">
                    <label for="profilePicture" class="label-file button btn__light fas fa-upload"> Agregar</label>
                    <input type="file" class="input-file" name="profilePicture" id="profilePicture">
                </div>

                <div class="col gx-5">
                    <input type="text" class="input-written {{#if error}}is-invalid{{/if}}" name="name" id="name" value="{{currentUser.name}}" placeholder="name" autofocus>
                    {{#if error}}
                    <div class="invalid-feedback">{{error.name}}</div>
                    {{/if}}
                    <div class="form-check form-switch mt-4">
                            <input name="visibility" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {{#if currentUser.visibility}}checked{{/if}}>
                            <label class="form-check-label" for="flexSwitchCheckDefault">Perfil público</label>
                    </div>
                </div>

                <div class="col-12 col-sm-auto">
                    <button type="submit" class="button btn__secondary">Actualizar perfil</button>
                </div>
            </div>
        </div>
    </form>
</div>