<div class="container my-6">
    <h1>Cambio de contrase単a</h1>
    <hr style="height:3px;border:none;">
    <form action="/do-the-action-social" method="POST">
        <div class="form-group has-validation my-3">
            <label for="username" class="form-label">Email</label>
            <input type="email" class="form-control form-control-lg" name="email"
                id="email" value="{{user.email}}" required>
            <div class="invalid-feedback">
            </div>
        </div>
        <label class="form-label">Nueva contrase単a</label>
        <input type="password" class="form-control form-control-lg" name="newPassword"
            required>

        <label class="form-label">Repite la nueva contrase単a</label>
        <input type="password" class="form-control form-control-lg" name="passwordRepeat"
            required>
        {{#if error}}
        <div class="alert alert-danger my-2">
            {{error}}
        </div>
        {{/if}}
        <button type="submit" class="button btn__primary">Cambia la contrase単a y accede</button>
    </form>
</div>