<div class="container my-6">
    <h1>Cambio de contrase単a</h1>
    <hr style="height:3px;border:none;">

    <form action="/reset-password" method="POST">
        <div class="mb-3">
            <label class="form-label">Nueva contrase単a</label>
            <input type="password" class="form-control form-control-lg" name="newPassword" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Repite la nueva contrase単a</label>
            <input type="password" class="form-control form-control-lg" name="passwordRepeat" required>
        </div>

        {{#if error}}
        <div class="alert alert-danger my-2">
            {{error}}
        </div>
        {{/if}}

        <input type="hidden" name="token" id="token" value="{{token}}">
        <button type="submit" class="button btn__primary">Cambia la contrase単a y accede</button>
    </form>

</div>