@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
    /* Primary colors */
    --main-color: #059669; /* #5085B9 */
    --main-color-hover: #047857;

    /* Secondary colors */
    --secondary-color: #e0e7ff;
    --secondary-color-hover: #c7d2fe;
    --secondary-text-color: #3730a3;

    --background-light-color: #f9fafb;
    --color-dark-black: #363135;
}

body {
    font-family: 'Inter', sans-serif !important;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
}

p {
    font-size: 1.1rem;
}

.text-main {
    color: var(--main-color) !important;
}

.my-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

.my-7 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.py-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.py-7 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.card {
    border-width: 1.55px !important;
    border-radius: 0.6rem !important;
}

.alert {
    border-width: 1.55px !important;
}

.alert-danger {
    background-color: #fef2f2 !important;
    border-color: #fecaca !important;
    color: #b91c1c !important;
}

.border {
    border: 1.55px solid rgb(197, 197, 197) !important;
}

.bg__main {
    background-color: var(--main-color) !important;
}

footer {
    background-color: var(--background-light-color);
}

footer a {
    text-decoration: none !important;
}

.text__dec__none {
    text-decoration: none !important;
    color: var(--color-dark-black);
}

.text__dec__none:hover {
    text-decoration: none !important;
    color: var(--main-color);
}

.text__green {
    color: var(--main-color) !important;
}

/* BUTTONS
========================================= */
.button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem !important;
    transition: all 0.1s ease-in-out;
}

.button:focus {
    outline: none !important;
}

.btn__primary {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff;
}

.btn__primary:hover {
    background-color: var(--main-color-hover);
    border: 1px solid var(--main-color-hover);
    color: #fff;
}

.opacity__50 {
    opacity: 0.5;
}

.btn__secondary {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-text-color);
}

.btn__secondary:hover {
    background-color: var(--secondary-color-hover);
    color: var(--secondary-text-color);
    border: 1px solid var(--secondary-color-hover);
}

.btn__light {
    background-color: #fff;
    border: 1.25px solid rgb(197, 197, 197);
    color: rgb(24, 24, 24);
}

.btn__light:hover {
    background-color: rgb(240, 240, 240);
    border: 1.25px solid rgb(197, 197, 197);
    color: rgb(24, 24, 24);
}

.link__primary {
    color: var(--main-color);
    transition: all 0.1s ease-in-out;
}

.link__primary:hover {
    color: var(--main-color-hover);
}

.btn-accordeon {
    width: 100%;
    padding: 0;
    border: none;
    background-color: #ffffff;
}
.btn-accordeon:focus {
    border: none !important;
    outline: none !important;
}

/* NAVBAR 
===============================*/
.bg__light {
    background-color: #ffffff !important;
    border-bottom: 1px solid #dbd9db !important;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.05rem;
    color: var(--color-dark-black) !important;
    transition: all 0.1s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--main-color) !important;
}

.main__hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.2)),
        url('../images/background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    color: #fff;
}

/* FORMS 
===============================*/
.form-control {
    border-width: 1.55px !important;
}

.form-control:focus,
.form-control:hover {
    color: #212529;
    background-color: #fff;
    border: 1.55px solid var(--main-color) !important;
    outline: 0;
    box-shadow: none !important;
}

.form-select {
    border-width: 1.55px !important;
}

.form-select:focus,
.form-select:hover {
    color: #212529;
    background-color: #fff;
    border: 1.55px solid var(--main-color) !important;
    outline: 0;
    box-shadow: none !important;
}

.input-written {
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--secondary-color-hover);
    font-size: 1.5em;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label-file {
    font-size: 1.2em;
    border: none;
}

.label-file:hover {
    cursor: pointer;
    border: none;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #ffffff !important;
    opacity: 1;
}

.background__light {
    background-color: var(--background-light-color);
}

/* PROFILE 
===============================*/
.main__profile {
    background-color: var(--background-light-color);
    color: var(--color-dark-black) !important;
}

.project__card {
    text-decoration: none !important;
    color: var(--color-dark-black);
    border: 1px solid #dbd9db !important;
}

.project__card:hover {
    text-decoration: none !important;
    color: var(--main-color);
    border: 1px solid var(--main-color) !important;
}

.rounded__custom {
    border-radius: 0.6rem !important;
}

canvas {
    border-radius: 0.6rem !important;
}

/* IMAGES PROJECT & VOLUNTS
===============================*/
.objetfit > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.project__header {
    min-height: 375px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 0.5rem 0.5rem 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* MAPBOX
===============================*/
canvas {
    width: 100% !important;
    height: 100% !important;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions {
    box-shadow: none !important;
}

.mapboxgl-ctrl-geocoder {
    width: 100% !important;
    max-width: 100% !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
    display: none !important;
}

.mapboxgl-ctrl-geocoder .suggestions {
    border: 1.55px solid rgb(197, 197, 197) !important;
}

.tox-tinymce {
    border: 1px solid rgb(197, 197, 197) !important;
    border-radius: 0.4rem !important;
}

/* ALGOLIA SEARCH */
.objetfit__alg > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.objetfit__card > img {
    width: 100px;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
