<div class="bg__main mb-4">
    <div class="container py-5 text-light">
        <h1>Condiciones de la web</h2>
            <small><a href="/" class="text-light">Inicio</a> / Condiciones de la web</small>
    </div>
</div>