<div class="bg__main mb-4">
    <div class="container py-5 text-light">
        <h1>Uso de cookies</h2>
            <small><a href="/" class="text-light">Inicio</a> / Uso de cookies</small>
    </div>
</div>
<div class="container">
    <p>
        Las cookies son breves informaciones que se envían y almacenan en el disco duro del ordenador del usuario a
        través de su navegador cuando éste se conecta a una web. Las cookies se pueden utilizar para recabar y
        almacenar
        datos del usuario mientras está conectado para facilitarle los servicios solicitados y que no se suelen
        conservar (Cookies de sesión), o para conservar los datos del usuario para otro tipo de servicios futuros y
        que
        se pueden conservar por tiempo indefinido (Cookies persistentes). Las cookies pueden ser propias o de
        terceros.
    </p>
    <p class="pt-2">
        <b>Existen varios tipos de cookies:</b>
    <ul>
        <li>Cookies técnicas que facilitan la navegación del usuario y la utilización de las diferentes opciones o
            servicios que ofrece la web como identificar la sesión, permitir el acceso a determinadas áreas,
            facilitar pedidos, compras, cumplimentación de formularios, inscripciones, seguridad, facilitar
            funcionalidades (videos, redes sociales…).</li>
        <li>Cookies de personalización que permiten al usuario acceder a los servicios según sus preferencias
            (idioma, navegador, configuración…).</li>
        <li>Cookies de análisis que permiten el análisis anónimo del comportamiento de los usuarios de la web y que
            permiten medir la actividad del usuario y elaborar perfiles de navegación con el fin objetivo de mejorar
            los sitios web.</li>
        <li>Cookies publicitarias que permiten la gestión de los espacios publicitarios de la web.</li>
        <li>Cookies de publicidad personalizada que permiten la gestión de los espacios publicitarios de la web en
            base al comportamiento y hábitos de navegación de usuario, de donde se obtiene su perfil y permiten
            personalizar la publicidad que se muestra en el navegador del usuario.</li>
    </ul>
    </p>
    <p class="pt-3">
        Coop utiliza cookies técnicas, de personalización y de análisis, propias y de terceros, que en ningún
        caso tratan datos de carácter personal, pero captan hábitos de navegación para fines estadísticos.
    </p>
    <p class="pt-3">
        Por ello, al acceder a nuestra web, en cumplimiento del artículo 22 de la Ley de Servicios de la Sociedad de
        la Información le hemos solicitado su consentimiento para su uso.<br>
        De todas formas, le informamos que puede activar o desactivar y estas cookies siguiendo las instrucciones de
        su navegador de Internet:

    <ul>
        <li>Chrome: Configuración -> Mostrar opciones avanzadas -> Privacidad -> Configuración de contenido.</li>
        <li>Firefox: Herramientas -> Opciones -> Privacidad -> Historial -> Configuración Personalizada.</li>
        <li>Internet Explorer: Herramientas -> Opciones de Internet -> Privacidad -> Configuración.</li>
        <li>Safari: Preferencias -> Seguridad.</li>
        <li>Opera: Herramientas -> Preferencias -> Editar preferencias > Cookies</li>
        <li>Edge: Configuración -> Ver configuración avanzada -> Privacidad y servicios -> Cookies</li>
    </ul>
    </p>
    <p>
        Para más información, puede consultar en la Ayuda de su navegador o en las páginas de soporte de los mismos:
    <ul>
        <li>Chrome: support.google.com</li>
        <li>FireFox: support.mozilla.org</li>
        <li>Internet Explorer: windows.microsoft.com</li>
        <li>Safari: http://www.apple.com</li>
        <li>Opera: http://www.opera.com/help/tutorials/security/cookies/</li>
        <li>Edge: https://privacy.microsoft.com/es-es/windows-10-microsoft-edge-and-privacy</li>
    </ul>
    </p>
</div>