<script src="https://cdn.tiny.cloud/1/bxbm94pkk0onbqvbkrwp8xh9ly9aj2g61n7lsz2i4sv9gvvt/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#description',
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        menubar: false,
        min_height: 300,
        toolbar_mode: 'floating',
        toolbar: 'undo | formatselect | ' + 'image bold italic' + '| bullist numlist |' + 'fullscreen',
        image_title: true,
        automatic_uploads: true,
        file_picker_types: 'image',
        //images_upload_url: 'server/upload-image.php'
    });
</script>
<script src="https://unpkg.com/imask"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>

<div class="container my-6 p-5 rounded__custom border" style="max-width: 600px;" class="mx-auto">
    <form action="/volunt/create" method="POST" enctype="multipart/form-data">
        <div id="step-1">

            <span class="fa-stack fa-2x mb-3" style="margin-left: -12px; margin-top: -25px;">
                <i class="fas fa-square fa-stack-2x" style="color: #cce7de;"></i>
                <i class="fas fa-hands-helping fa-stack-1x" style="color: #079669;"></i>
            </span>

            <h2>Escoge un título para tu voluntariado</h2>
            <p class="mb-4">Es importante escoger un buen título para tu voluntariado, para ello, debe llamar la
                atención y
                resumir en
                una sóla línea la finalidad del mismo.</p>

            <div class="my-3">
                <label for="title" class="form-label h6">Título del voluntariado</label>
                <input class="form-control form-control-lg" type="text" id="title" name="title"
                    placeholder="Título del voluntariado" autocomplete="off" autofocus required>
            </div>
            <button type="button" id="step-1-btn" class="button btn__primary mt-3 btn-lg px-4 pull-right">
                Continuar
            </button>
        </div>
        <div id="step-2" style="display: none;">
            <h2>Escoge una descripción para tu voluntariado</h2>
            <p class="mb-5">En la descripción debes contar a los demás para qué necesitas voluntarios y por qué deberían
                ayudarte.</p>

            <div class="my-3">
                <label for="description" class="form-label h6">Descripción</label>
                <textarea class="form-control form-control-lg" id="description" name="description"
                    placeholder="Aquí va la descripción de tu voluntariado" rows="25"></textarea>
            </div>
            <button type="button" id="step-2-back-btn" class="button btn__light mt-3 btn-lg px-4 pull-right">
                Volver
            </button>
            <button type="button" id="step-2-btn" class="button btn__primary mt-3 btn-lg px-4 pull-right">
                Continuar
            </button>
        </div>
        <div id="step-3" style="display: none;">
            <h2>¿Cuántos voluntarios necesitas?</h2>
            <p class="mb-5">Dinos cuántos voluntarios necesitas para tu proyecto y para cuándo los necesitas.</p>

            <div class="my-3">
                <label for="assistants" class="form-label h6">Voluntarios</label>
                <input class="form-control form-control-lg" type="text" id="assistants" name="assistants"
                    placeholder="Número de voluntarios" required>
            </div>
            <div class="mb-3">
                <label for="endDate" class="form-label h6">Fecha límite</label>
                <input class="form-control form-control-lg" type="date" id="endDate" name="endDate"
                    placeholder="Fecha límite" required>
            </div>
            <button type="button" id="step-3-back-btn" class="button btn__light mt-3 btn-lg px-4 pull-right">
                Volver
            </button>
            <button type="button" id="step-3-btn" class="button btn__primary mt-3 btn-lg px-4 pull-right">
                Continuar
            </button>
        </div>
        <div id="step-4" style="display: none;">
            <h2>Un último paso</h2>
            <p class="mb-5">Selecciona una imagen que describa tu voluntariado y llame la atención de los usuarios y
                dinos
                en que categoría incluirlo.</p>

            <div class="my-3">
                <label for="image" class="form-label">Imagen de portada</label>
                <input class="form-control" type="file" name="image" id="image">
            </div>
            <div class="mb-3">
                <label for="categs" class="form-label">Categoría</label>
                <select id="categs" name="categs" class="form-select form-select-lg" required>
                    <option value="Sin categorizar">Seleccionar...</option>
                    {{#each categs as |categ|}}
                    <option value="{{categ}}">{{categ}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="button" id="step-4-back-btn" class="button btn__light mt-3 btn-lg px-4 pull-right">
                Volver
            </button>
            <button type="submit" class="button btn__primary mt-3 btn-lg px-4">
                Crear voluntariado
            </button>
        </div>
    </form>
</div>

<script>
    IMask(document.getElementById('title'), {
        mask: /^[0-9a-zñáéíóúü\s]+$/i
    });

    IMask(document.getElementById('assistants'), {
        mask: Number,
        min: 1,
        max: 1000000,
        scale: 0,
    });

    flatpickr.l10ns.default.firstDayOfWeek = 1; // Monday 1st day
    flatpickr(document.getElementById('endDate'), {
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        minDate: "today",
        "locale": "es",
    });

    window.addEventListener('load', () => {
        // step 1
        const step1div = document.getElementById('step-1')
        const step1btn = document.getElementById('step-1-btn')
        // step 2   
        const step2div = document.getElementById('step-2')
        const step2btn = document.getElementById('step-2-btn')
        const stepBack2btn = document.getElementById('step-2-back-btn')
        // step 3   
        const step3div = document.getElementById('step-3')
        const step3btn = document.getElementById('step-3-btn')
        const stepBack3btn = document.getElementById('step-3-back-btn')
        // step 4   
        const step4div = document.getElementById('step-4')
        const step4btn = document.getElementById('step-4-btn')
        const stepBack4btn = document.getElementById('step-4-back-btn')

        step1btn.addEventListener('click', () => {
            const title = document.getElementById('title').value
            if (title.length >= 2) {
                step1div.style.display = 'none'
                step2div.style.display = 'block'
            }
        })

        step2btn.addEventListener('click', () => {
            step2div.style.display = 'none'
            step3div.style.display = 'block'
        })

        stepBack2btn.addEventListener('click', () => {
            step1div.style.display = 'block'
            step2div.style.display = 'none'
        })

        step3btn.addEventListener('click', () => {
            const sum = document.getElementById('assistants').value
            const endDate = document.getElementById('endDate').value
            if (sum > 0 && endDate !== '') {
                step3div.style.display = 'none'
                step4div.style.display = 'block'
            }
        })

        stepBack3btn.addEventListener('click', () => {
            step2div.style.display = 'block'
            step3div.style.display = 'none'
        })

        stepBack4btn.addEventListener('click', () => {
            step3div.style.display = 'block'
            step4div.style.display = 'none'
        })
    });
</script>